# Preprocessing

## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Get the datasets

In [2]:
train = pd.read_json('../datasets/train.json')
test = pd.read_json('../datasets/test.json')

## Preprocessing the `interes_level`

In [3]:
train['interest_level'].unique()

array(['medium', 'low', 'high'], dtype=object)

In [4]:
train['interest_level'] = train['interest_level'].map({'low' : 0, 'medium' : 1, 'high' : 2})

In [5]:
train['interest_level'].unique()

array([1, 0, 2])

## Cleaning of emissions

In [6]:
low_perc, high_perc = np.percentile(train['price'], [1, 99])
low_perc, high_perc

(1475.0, 13000.0)

In [7]:
train = train[(train['price'] > low_perc) & (train['price'] < high_perc)]
test = test[(test['price'] > low_perc) & (test['price'] < high_perc)]

In [8]:
idx_bathrooms = test['bathrooms'].nlargest(5).index
test = test.drop(idx_bathrooms)

In [9]:
test.describe()[['bathrooms', 'bedrooms', 'price']]

          bathrooms      bedrooms         price
count  73174.000000  73174.000000  73174.000000
mean       1.193218      1.535545   3526.069068
std        0.449604      1.090891   1573.178319
min        0.000000      0.000000   1480.000000
25%        1.000000      1.000000   2500.000000
50%        1.000000      1.000000   3150.000000
75%        1.000000      2.000000   4072.500000
max        6.000000      7.000000  12995.000000

## Save dataframe

In [10]:
train.to_pickle('../datasets/train_01.pkl')
test.to_pickle('../datasets/test_01.pkl')